state_machine_definition.json
{
  "Comment": "Image processing workflow",
  "StartAt": "ResizeImage",
  "States": {
    "ResizeImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ca-central-1:251941721502:function:ImageResizeFunction",
        "Payload.$": "$"
      },
      "OutputPath": "$.Payload",
      "Next": "WasResizeSuccessful"
    },
    "WasResizeSuccessful": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.success",
          "BooleanEquals": true,
          "Next": "SuccessState"
        }
      ],
      "Default": "FailState"
    },
    "SuccessState": {
      "Type": "Succeed"
    },
    "FailState": {
      "Type": "Fail",
      "Error": "ResizeFailed",
      "Cause": "Image resizing failed"
    }
  }
}
